.searchTitleWrapper {
  display: flex;
  padding-bottom: 72px;
}

.searchTitle {
  margin: auto;

  max-width: 700px;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
  color: #393939;
}

.searchTitle span {
  color: #f17900;
}

.searchInputWrapper {
  margin: 0 20px;
}

.searchBlock {
  margin: auto;

  max-width: 700px;
  height: 32px;
  border-radius: 16px;
  border: 0px;
  background-color: #3939390d;
  padding: 16px 23.5px;

  display: flex;
  justify-content: space-between;
}

.searchInput {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.searchInput:focus {
  outline: none;
  border: none;
}

.searchList {
  margin: auto;
  max-width: 700px;
  margin-top: 50px;
  border-radius: 15px;
  padding: 20px;
  background-color: #3939390d;
}
.searchOptions {
  padding: 10px;
}
.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-height: 300px;
  overflow: scroll;
  scrollbar-width: none;
}
