.wrapper {
  flex: 1 1 416px;
  max-width: 416px;
  max-height: 130px;
}

.miniCard {
  box-sizing: border-box;
  display: flex;
  max-width: 416px;
  max-height: 130px;
  background-color: #ffffff;
  align-items: center;
  padding: 25px 13px;
}

.image {
  width: 80px;
  height: 80px;
}

.info {
  max-width: 219px;
  max-height: 98px;
  overflow: hidden;
  padding: 0 16px;
  width: 100%;
}

.author {
  color: #e0a449;
  margin-bottom: 12px;
}

.miniCard-Button {
  display: flex;
  margin-left: auto;
  margin-right: 13px;
  background-color: #f9f9f9;
  padding: 17.54px;
  border-radius: 50px;
}

.miniCard-Bookmark {
  width: 24px;
  height: 24px;
}
